.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  display: flex;
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.LandingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.LandingMainContainer > div:nth-child(1) {
  font-size: 2.2rem;
}

.LandingMainContainer > div:nth-child(1) div[role="button"] {
  background: #ffa500;
  width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 20px;
  margin-top: 1.4rem;
}

.LandingMainContainer > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.LandingMainContainer > div:nth-child(2) img {
  height: 80vh;
  width: auto;
}

/* .AuthPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Signincard {
  margin: auto;
  background-color: rgb(52, 89, 224);
  width: 600px;
  padding: 2rem;
}

.Signincard h1 {
  color: white;
  font-size: 3rem;
}

.Signincard div {
  width: 530px;
  margin-block: 1rem;
}

.Signincard div input {
  padding: 1rem;
  width: 530px;
  margin-block: 1rem;
} */
